* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maxWidth: 800px;
    --green: #28a745;
    --red: #dc3545;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #44FFEE;
    background-image: url('/assets/background.svg');
    background-attachment: fixed;
    background-size: cover;
}

button {
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    border-radius: 8px;
    font-family: inherit;
}

.menu {
    font-size: 1.3rem;
    background-color: white;
    text-align: center;
}

.menu-wrapper {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.start-btn,
.reset-btn {
    background-color: var(--green);
    color: white;
    padding: 10px 20px;
}

.reset-btn {
    background-color: var(--red);
    display: none;
}

.board {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.pow {
    position: absolute;
    top: 0;
    width: 150px;
    opacity: 0;
}

.grid-container {
    max-width: var(--maxWidth);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 25px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
}

.hole {
    position: absolute;
    bottom: 0;
    width: 75%;
}
.bug {
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.grid-item.active>.bug{
    opacity: 1;
}


@media (min-width: 600px) {
    .grid-container {
        row-gap: 10px;
    }
}

@media (min-width: 800px) {
    :root {
        --maxWidth: 1200px;
    }

    .menu {
        font-size: 1.7rem;
    }
    
    .pow {
        width: 250px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}